## servidor
NODE_ENV=local
PORT=8080

## base de datos
DB_URL=postgresql://username:password@host:port/dbname

## swagger
SWAGGER_TITLE=Backend API
SWAGGER_DESCRIPTION=Backend endpoints

## Docker
POSTGRES_USER=yourpostgresuserpassword
POSTGRES_PASSWORD=yourpostgrespassword
POSTGRES_DB=test
POSTGRES_PORT=5432